{% extends "base.html"%}

{% block content %}
<div class="container emp-profile">
  <form method="post">
      <div class="row">
          <div class="col-md-4">
              <div class="profile-img">
                  <img src="../static/img/baseProfile.jpg" alt=""/>
              </div>
          </div>
          <div class="col-md-6">
              <div class="profile-head">
                          <h5>
                            {{"{} {} {}".format(current_user.get_val('first_name'),
                            current_user.get_val('last_name'),
                            current_user.get_val('middle_name'))}}
                          </h5>
                          <h6>
                              Нзвание компаний
                          </h6>
                          <p class="proile-rating">RANKINGS : <span>8/10</span></p>
                  <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Информация</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Диалоги</a>
                        </li>
                        {% if current_user.get_val('is_supplier') == "1" %}
                            <li class="nav-item">
                                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Техника</a>
                            </li>
                        {% endif %}
                    </ul>
              </div>
          </div>
          <div class="col-md-2">
              <input type="submit" class="profile-edit-btn" name="btnAddMore" value="Edit Profile"/>
          </div>
      </div>
      <div class="row">
          <div class="col-md-4">
              <div class="profile-work">
                  <p>LINK</p>
                  <a href="">inst</a><br/>
                  <a href="">company</a><br/>
                  <a href="">vk</a>
                  <p>Ненужная хуйня</p>
                  <a href="">первая</a><br/>
                  <a href="">вторая</a><br/>
                  <a href="">третья</a><br/>
              </div>
          </div>
          <div class="col-md-8">
              <div class="tab-content profile-tab" id="myTabContent">
                  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                              <div class="row">
                                  <div class="col-md-6">
                                      <label>Логин: </label>
                                  </div>
                                  <div class="col-md-6">
                                      <p>{{ current_user.get_val('login') }}</p>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col-md-6">
                                      <label>Email</label>
                                  </div>
                                  <div class="col-md-6">
                                      <p>{{ current_user.get_val('email') }}</p>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col-md-6">
                                      <label>Телефон: </label>
                                  </div>
                                  <div class="col-md-6">
                                      <p>{{ current_user.get_val('phone_number') }}</p>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col-md-6">
                                      <label>Компания: </label>
                                  </div>
                                  <div class="col-md-6">
                                      <p>{{ current_user.get_val('company_name') }}</p>
                                  </div>
                              </div>
                  </div>
                  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                              <div class="row">
                                  <div class="col-md-8 ">
                                    <div class="alert alert-secondary" role="alert">
                                        <li>Тут будут диалоги</li>
                                    </div>
                                  </div>

                                  <div class="col-md-8">
                                    <div class="alert alert-secondary" role="alert">
                                        <li>Тут будут диалоги</li>
                                    </div>
                                  </div>

                              </div>           
                     </div>
              </div>
          </div>
      </div>
  </form>           
</div>
{% endblock %}